<div id="modal-empleado" style="display:none" class="modal-overlay" onclick="if(event.target===this)closeModal('modal-empleado')">
<div class="modal" style="max-width:780px">
  <div class="modal-hd">
    <span id="emp-modal-title">Nuevo empleado</span>
    <button class="modal-close" onclick="closeModal('modal-empleado')">×</button>
  </div>
  <div class="modal-bd" id="emp-modal-body"></div>
  <div class="modal-ft">
    <button class="btn btn-gray" onclick="closeModal('modal-empleado')">Cancelar</button>
    <button class="btn btn-prim" id="emp-modal-save">Guardar</button>
  </div>
</div>
</div>
